        <footer class="app-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a class="text-muted" href="#">Soporte</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="#">Ayuda</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="#">Privacidad</a>
            </li>
            <li class="list-inline-item">
              <a class="text-muted" href="#">Terminos de Servicios</a>
            </li>
          </ul>
          <div class="copyright"> Copyright © 2018. All right reserved. </div>
        </footer><!-- /.app-footer -->